:root{
  --gradientBackground: linear-gradient(45deg, #1363DF 30%, #47B5FF 80%);
  --backgroundHover: linear-gradient(45deg, #06283D 30%, #1363DF 80%);
}

section>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.hero{
  background-image: url('./assets/images/space.jpg');
  background-position: center center;
  background-size: cover;
  /* background-image: var(--gradientBackground); */
  animation: moveBackground 150s infinite alternate;
  background-size: 200%;
  height: 60vh;
}

@keyframes moveBackground{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.title{
  text-decoration: none;
  color: #DFF6FF;
  font-size: 3.5rem;
}

.nav-text{
  color: #DFF6FF;
}

.nav-text:hover{
  color: lightgray;
}

.inner-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic{
  background-image: url('./assets/images/profile.jpg');
  background-position: -80px -50px;
  background-size: 350px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 20px 0;
}

.summary-text{
  width: 50%;
}

.subtitle{
  font-size: 2rem;
  color: #1363DF;
}

.resume-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.institution{
  width: 70%;
}

.edu-place{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edu-place img{
  width:180px;
  height: auto;
}

hr{
  border: dotted #DFF6FF 6px;
  width: 10%;
  opacity: 1;
  border-bottom: none;
  margin: 100px 0;
}

.work-place a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-place img{
  width: 230px;
  height: auto;
  border-radius: 50%;
}

@media (max-width:1534px){
  .title{
    font-size: 3rem;
  }

  .edu-place img{
    width:150px;
  }

  .edu-place h5{
    font-size: 1rem;
  }

  .edu-place p{
    font-size: .8rem;
  }

  .work-place img{
    width: 200px;
  }

  .work-place h5{
    font-size: 1.1rem;
  }
}

.skill{
  width: 50%;
  padding-left: 120px;
}

.skill-name{
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  border-right: 5px solid #DFF6FF;
}

.skill-stars{
  display: inline-block;
  display: flex;
  align-items: center;
}

.star{
  font-size: 30px;
  display: inline-block;
  color: orange;
  margin-right: 20px;
}

@media (max-width:1434px){
  .skill{
    padding-left: 80px;
  }
  .skill-name{
    font-size: 1.2rem;
  }

  .star{
    font-size: 25px;
  }
}

@media (max-width:996px){
  .title{
    font-size: 2.5rem;
  }

  .skill{
    padding-left: 10px;
  }
  .skill-name{
    font-size: 1rem;
  }

  .star{
    font-size: 20px;
    margin-right: 10px;
  }
}

.project-row{
  width: 100%;
}

.project-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-column img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contact-btn{
  background-image: var(--gradientBackground);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.contact-btn:hover{
  background-image: var(--backgroundHover);
  color: white;
}

.footer{
  background-image: url('./assets/images/space.jpg');
  background-position: center center;
  background-size: cover;
  animation: moveBackground 150s infinite alternate;
  background-size: 200%;
  height: 80px;
  color: white;
}

.text-right{
  text-align: right;
}

.socmed-icon{
  color: white;
  text-decoration: none;
  padding: 0 5px;
}

.socmed-icon svg{
  width: 25px;
  height: 25px;
}

.copyright{
  display: flex;
  align-items: center;
}

@media (max-width:960px){
  .copyright{
    font-size: .8rem;
  }

  .socmed-icon svg{
    width: 20px;
    height: 20px;
  }
}

@media (max-width:832px){
  .copyright{
    font-size: .7rem;
  }

  .socmed-icon svg{
    width: 15px;
    height: 15px;
  }
}